
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .image-container img {
            width: 100%;
            height: 600px;
        }
    </style>
</head>
<body>
    <div>
        <marquee style="color:palevioletred"><span><i class="bi bi-book-half"></i></span>
            <b>Welcome To Book-Loan Services</b>
        </marquee>
    </div>
    <div class="section section-left image-container">
        <img src="~/Pictures/bookloan2.jpg">
    </div>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</body>
</html>


